<!DOCTYPE html>
<html>
        <link rel="stylesheet" type="text/css" href="/form.css">
        <link rel="stylesheet" type="text/css" href="/style.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>		
  <head>
	  <meta charset="UTF-8">
  </head>
  <body>
    <img class="logos" src="/img/Watson.png" alt="Imperial">
      <div>
        <table>
          <thead>
            <tr>
                <th>Personalidad</th>
                <th>Porcentaje</th>
            </tr>
          </thead>

          <tbody>
            <tr>
              <td><%= au %></td>
              <td><%= Math.floor(aup * 100) + "%" %></td>
            </tr>
            <tr>
              <td><%= inar%></td>
              <td><%= Math.floor(inarp * 100) + "%" %></td>
            </tr>
            <tr>
              <td><%= emo%></td>
              <td><%= Math.floor(emoP * 100) + "%"%></td>
            </tr>
            <tr>
              <td><%= ima%></td>
              <td><%= Math.floor(imaP * 100) + "%"%></td>
            </tr>
            <tr>
              <td><%= inte%></td>
              <td><%=  Math.floor(intep * 100) + "%"%></td>
            </tr>
            <tr>
              <td><%= desa%></td>
              <td><%=  Math.floor(desaP * 100) + "%"%></td>
            </tr>
            
            <tr>
              <td><%= inte%></td>
              <td><%=  Math.floor(intep * 100) + "%"%></td>
            </tr>
            <tr>
              <td><%= rN%></td>
              <td><%=  Math.floor(rP * 100) + "%"%></td>
            </tr>
            <tr>
              <td><%= nceN%></td>
              <td><%=  Math.floor(nceP * 100) + "%"%></td>
            </tr>
            <tr>
              <td><%= cauN%></td>
              <td><%=  Math.floor(cauP * 100) + "%"%></td>
            </tr>
            <tr>
              <td><%= oN%></td>
              <td><%=  Math.floor(oP * 100) + "%"%></td>
            </tr>
            <tr>
              <td><%= diN%></td>
              <td><%=  Math.floor(diP * 100) + "%"%></td>
            </tr>
            <tr>
              <td><%= auN%></td>
              <td><%=  Math.floor(auP * 100) + "%"%></td>
            </tr>
            <tr>
              <td><%= auEN%></td>
              <td><%=  Math.floor(auEP * 100) + "%"%></td>
            </tr>
            <tr>
              <td><%= exN%></td>
              <td><%=  Math.floor(exP * 100) + "%"%></td>
            </tr>
            <tr>
              <td><%= acN%></td>
              <td><%=  Math.floor(acP * 100) + "%"%></td>
            </tr>


            <tr>
              <td><%= aN %></td>
              <td><%= Math.floor(aP * 100) + "%" %></td>
            </tr>
            <tr>
              <td><%= seN%></td>
              <td><%= Math.floor(seP * 100) + "%" %></td>
            </tr>
            <tr>
              <td><%= aleN%></td>
              <td><%= Math.floor(aleP * 100) + "%"%></td>
            </tr>
            <tr>
              <td><%= busN%></td>
              <td><%= Math.floor(busP * 100) + "%"%></td>
            </tr>
            <tr>
              <td><%= siN%></td>
              <td><%=  Math.floor(siP * 100) + "%"%></td>
            </tr>
            <tr>
              <td><%= socN%></td>
              <td><%=  Math.floor(socP * 100) + "%"%></td>
            </tr>
            
            <tr>
              <td><%= amaN%></td>
              <td><%=  Math.floor(amaP * 100) + "%"%></td>
            </tr>
            <tr>
              <td><%= altN%></td>
              <td><%=  Math.floor(altP * 100) + "%"%></td>
            </tr>
            <tr>
              <td><%= coN%></td>
              <td><%=  Math.floor(coP * 100) + "%"%></td>
            </tr>
            <tr>
              <td><%= modN%></td>
              <td><%=  Math.floor(modP * 100) + "%"%></td>
            </tr>
            <tr>
              <td><%= intN%></td>
              <td><%=  Math.floor(intP * 100) + "%"%></td>
            </tr>
            <tr>
              <td><%= comN%></td>
              <td><%=  Math.floor(comP * 100) + "%"%></td>
            </tr>
            <tr>
              <td><%= confN%></td>
              <td><%=  Math.floor(confP * 100) + "%"%></td>
            </tr>
            <tr>
              <td><%= raN%></td>
              <td><%=  Math.floor(raP * 100) + "%"%></td>
            </tr>
            <tr>
              <td><%= veheN%></td>
              <td><%=  Math.floor(veheP * 100) + "%"%></td>
            </tr>
            <tr>
              <td><%= preoN%></td>
              <td><%=  Math.floor(preoP * 100) + "%"%></td>
            </tr>
            </tr>
          </tbody>
        </table>
      </div>
  </body>
</html>
